<div id="title">
  <div id="title-text">
  DESTROY HashRocket
  </div>
</div>


<div class=notes>
  <p id="intr">You can only Ruby or Haml. Paste them below.</p>
  <p id="second">Notes: After copy origin somewhere, use this app.</p>
</div>

<form action="/forms" method="get" id="new_text" >
  <textarea id="the_html_body" placeholder="before" input_html="{:value=>nil}" name="content" ></textarea>
  <textarea id="symbol-output" placeholder="after" name="[]" ></textarea>
</form>

<div class="button">
  <div><input id="input-button" type="button" value="reload" onclick="window.location.reload();" style="WIDTH: 60px; HEIGHT: 30px"></div>
  <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</div>